**/*.class
**/bin/
**/target/
**/.project
**/.classpath
**/workspace
**/.metadata
**/.settings
**/doc
**/.checkstyle
**/*~
**/#*#
**/*.bak
**/*.iml
**/.idea
**/.Rhistory
**/.~lock.*#
**/.nsf*
**/.DS_Store
**/*.backup
**/*synctex.gz
**/*.fdb_latexmk
**/.vscode
